<nav class="flex p-3 m-1 justify-between md:mr-24 md:ml-24">
    <div class="flex">
        <a class="mx-2" href="/index">
            <img src="https://i.loli.net/2018/07/01/5b37ad8817cb2.png" alt="icon" />
        </a>
        <p class="mx-2 pt-2 font-light">Cirno Fans Protection Association</p>
    </div>
    <ul class="flex justify-end">
        <li class="m-2">
            <a href="/projects">Projects</a>
        </li>
        <li class="m-2">
            <a href="/profile">Profile</a>
        </li>
        <li class="m-2">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>