<nav class="bg-gray-50 dark:bg-gray-800">
  <div class="container px-6 py-3 mx-auto md:flex md:justify-between md:items-center">
    <div class="items-center md:flex">
      <div class="flex flex-col md:flex-row md:mx-6">
        <div class="ml-2 mt-3">
          <a [routerLink]="['/']">
            <img src="assets/brand.png" alt="CFPA" />
          </a>
        </div>
        <div class="ml-2 mt-5 text-gray-400">
          <p class="font-weight-bold">Cirno Fans Protection Association</p>
        </div>
      </div>
    </div>
    <div class="items-center md:flex">
      <div class="flex flex-col md:flex-row md:mx-6">
        <a class="nav-link" type="button" routerLink="/home" routerLinkActive="">Home</a>
        <a class="nav-link" type="button" routerLink="/projects" routerLinkActive="nav-link-active">Projects</a>
        <a class="nav-link" type="button" routerLink="/profile" routerLinkActive="nav-link-active">Profile</a>
        <a class="nav-link" type="button" routerLink="/about" routerLinkActive="nav-link-active">About</a>
      </div>
    </div>
  </div>
</nav>
