@page "/"
@page "/index"

<div class="container mx-auto md:w-2/4 w-11/12">
    <div class="md:flex">
        <div>
            123
            <NavLink href="/index/welcome"></NavLink>
        </div>
        <div class="px-4">
            <h1 class="text-center text-4xl font-medium">想要加入翻译？</h1>
            <p class="text-gray-500">不同于传统的方式，我们使用 Weblate 框架来进行模组翻译，让翻译变得简单明了。</p>
            <p class="text-gray-500">不需要了解任何内部知识，只需要埋头翻译即可，其他都被包办了。</p>
            <p class="text-gray-500">我们将长期维护，帮助模组社区变的更便捷，更美好。</p>
            <p class="text-gray-500">下方有一些跳转链接，也许能够帮到你。</p>
        </div>
    </div>
</div>